/*reset do css*/
:root {
    --color-primary: #E63946;
    --color-primary-dark: #C12720;
    --color-accent: #f4A300;
    --color-dark: #201a17;
    --color-light: #FFF7ED;
    --color-gray: #6B7280;
    --radius: 14px;
    --font-titulo: 'Anton', impact, sans-serif;
    --font-base: 'Inter', Robot, Helvetica, Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-base);
    color: var(--color-dark);
    line-height: 1.6;
}

h1,
h2,
h3 {
    font-family: var(--font-titulo);
    font-weight: 400;
    letter-spacing: 0.5px;
}

a {
    text-decoration: none;
    color: #FFF;
}

ul {
    list-style: none;
}

img {
    max-width: 100;
    display: block;
}

/*Botoes */
.btn-nav {
    background: var(--color-primary);
    color: #fff;
    padding: 10px 22px;
    border-radius: 8px;
}

.site-header {
    background: var(--color-dark);
    position: sticky;
    /*trava o header*/
    top: 0;
    /*complemento da trava*/
    z-index: 10;
    /*trás o elemento [header] para frente, assim o conteúdo da página não corre o risco de sobrepor*/
    /*não defini altura, ou seja, ela vai aumentar de acordo com os filhos*/
}

.navbar {
    max-width: 1100px;
    margin: 0 auto;
    /*centraliza automaticamento*/
    display: flex;
    justify-content: space-between;
    /*espaçamento entre os elementos - space between joga os elementos para as bordas, 
    e o row para dentro*/
    padding: 18px 24px;
}

.logo {
    font-family: var(--font-titulo);
    font-size: 1.4rem;
    color: #fff;
    letter-spacing: 1px;
}

.nav-links {
    display: flex;
    /*por padrão o flex é LINHA*/
    gap: 32px;
    /*mexe apenas entre os espaçamentos, o justfy joga para as laterais*/
}

.nav-links a {
    color: #e8d9cd;
    font-weight: 500;
}

.nav-links a:hover {
    color: #fff;
}